ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    font-family: 'Teko', sans-serif;
    color:  rgb(125, 125, 108);
    font-size: 2rem;
    background-color: beige;
    /* padding-left: 2rem; */
    display: flex;
    border-bottom: .0635rem dashed rgb(193, 193, 167);
}

ul li button{
    /* margin-left: 2rem; */
    background-color: rgb(193, 193, 167);
    color: rgb(125, 125, 108);
    border-style: none;
    padding: 0 1rem 0 1rem;
    transition: .5s;
}
ul li button:hover{
    background-color: rgb(86, 86, 74);
    color: rgb(168, 168, 146);
    cursor: pointer;
}
ul li span{
    margin-left: 2rem;
}