input{
    background-color: rgb(255, 210, 86);
    padding: 2rem 0 2rem 0;
    border-style: none;
    outline-style: none;
    width: 100%;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    color: rgb(86, 86, 74);
    font-weight: 400;
    font-size: 1rem;
}
input::placeholder{
    font-family: 'Inter Tight', sans-serif;
    color: rgb(86, 86, 74);
    font-weight: 400;
    font-size: 1rem;
}
#btn_add_task{
    display: none;
}